@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 80%;
    font-family: 'Acme', sans-serif;
}
#navbar{
    background-color:navy;
    color: #E6E6E6;
    text-align: center;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
#navbar img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
}
#navbar h1,h2,p{
    padding-bottom: 10px;
}
#navbar i{
    padding-left: 10px;
}
#navbar a{
    color: grey;
}
#navbar a:hover{
    color: white;
}
 
.body{
    padding: 20px 10%;
}

.body h3{
    color: navy;
}
.body hr{
    border-style:solid;
    border-width: 2px;
    border-color: navy;
}
.body p{
    padding-top: 10px;
}

.right{
    color: navy;
    float: right;
}